@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  html {
    @apply bg-blue text-gray-100;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-white font-bold;
  }

  .radial-bg {
    background: radial-gradient(ellipse at left top, #3fccbb50, transparent 40%),
      radial-gradient(ellipse at right bottom, #d2508e70, transparent 40%);
  }
}

.PlayerRSWP ._ControlsRSWP button {
  display: none !important;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}